/* GENERAL */
:root {
    --text-primary: #111827;
    --text-secondary: #6b7280;

    /* Color Scheme */
    --btn-hover: #E3F2FD;
    --btn-active: #ffffff;
    --accent-blue: #329aec;
    --accent-blue-dark: #cae2f1;
    --white: #FFFFFF;

    /* Font sizes */
    --font-sm: 0.8rem;
    --font-sd: 1rem;
    --font-md: 1.25rem;
    --font-lg: 1.75rem;
    --font-xl: 2rem;
    --font-xxl: 4rem;
}

body {
    animation: fadeInAnimation ease .85s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: var(--text-primary);
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

.wrapper {
    max-width: 1320px;
    margin: 0 auto;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.highlight {
    font-weight: 700;
}

.heading {
    font-size: var(--font-xxl);
    font-weight: 800;
    color: var(--text-primary);
    margin: 4rem 0;
}

.shadow {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
/*++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++*/
/*++++++++++++++++++++*/

/* NAVIGATION */
.top-navigation {
    padding: 2rem 0;
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 100;
}

.top-navigation .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    width: 4rem;
    display: flex;
    align-items: center;
}

.nav-brand {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-brand .name-link {
    font-size: var(--font-lg);
    font-weight: 500;
    padding-left: 2rem;
}

.nav-links {
    display: flex;
}

.nav-link {
    padding: 1rem 2rem;
    display: block;
    border-radius: 5px;
    font-size: var(--font-md);
    /* Effects */
    transition: background-color .15s ease-in;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
}

.nav-link:hover {
    background-color: var(--btn-hover);
}

.nav-link:active {
    background-color: var(--btn-active);
}
/*++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++*/
/*++++++++++++++++++++*/


/* INTRO SECTION */
.intro {
    text-align: center;
    font-size: var(--font-lg);
    padding: 0 10rem;
    margin: 10rem 0;
}

/* WORK SECTION */
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: start;
    background-color: black;
}

.projects-grid > [style^='--aspect-ratio']::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }

.project {
    width: 100%;
    background-color: gray;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .1s ease-in-out;
    position: relative;
}

.project .project-heading {
    position: absolute;
    box-sizing: border-box;
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;

    width: 100%;
    height: 100%;
    color: var(--white);

    opacity: 0;
    transition: .15s ease-in-out;
}

.project .project-heading.show {
    opacity: 1;
}

.project-heading .title { 
    font-size: var(--font-xl);
    font-weight: 700;
    user-select: none;
}

.project-heading .title::after {
    content: '';
    width: 20%;
    height: 5px;
    background: var(--accent-blue);
    display: block;
}

.project-heading .description { 
    font-size: var(--font-sd);
    font-weight: 500;
    user-select: none;
}

.stretched-link {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: .15s ease-in-out;
    z-index: 0;
}

.overlay.show {
    opacity: 0.4;
}
/*++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++*/
/*++++++++++++++++++++*/


/* ABOUT SECTION */
.about-section {
    width: 100%;
    /* background-color: var(--text-primary); */
    padding-top: 5rem;
}

.picture {
    max-width: 400px;
    display: block;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
}

.info-area {
    padding: 0 2rem;
}

.info-area h3 {
    font-size: var(--font-xxl);
    font-weight: 800;
    color: var(--accent-blue-dark);
    margin-top: 0;
    margin-bottom: 4rem;
}

.info-area p {
    font-size: var(--font-md);
    font-weight: 500;
    margin: 0;
}

.details-area {
    padding: 4rem 0;
}
/*++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++*/
/*++++++++++++++++++++*/

/* CONTACT SECTION */
.contact-section {
    margin-bottom: 10rem;
}
/*++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++*/
/*++++++++++++++++++++*/

/* FOOTER */
footer {
    background-color: var(--white);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 100;
}

.footer .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .personal-info {
    font-size: var(--font-sm);
    color: var(--text-secondary);
}

.social-links {
    display: flex;
}

.social-links li a {
    padding: 1rem 1rem;
    display: block;
    border-radius: 5px;
    font-size: var(--font-md);
    /* Effects */
    transition: .15s ease-in;
}

.social-links li a:hover {
    background-color: var(--btn-hover);
}

.social-links li a:active {
    background-color: var(--btn-active);
}
/*++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++*/
/*++++++++++++++++++++*/
